@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    #hero {
        background-image: url('../public/bg-kc.png');
        height: 1200px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .hero {
        &__container {
            margin: auto;
            @media only screen and (max-width: 1600px) {
                max-width: 1200px;
            }
            @media only screen and (max-width: 1280px) {
                max-width: 1100px;
            }
            @media only screen and (max-width: 1024px) {
                max-width: 900px;
            }
            @media only screen and (max-width: 768px) {
                max-width: 670px;
            }
            @media only screen and (max-width: 578px) {
                max-width: 425px;
            }
            @media only screen and (max-width: 425px) {
                max-width: 100%;
            }
        }
    }
    .nav {
        display: none;
        margin-top: 1rem;
        margin-bottom: 1rem;
        
        @media only screen and (min-width: 425px) {
            display: flex;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            bottom: 30px;
            left: 30px;
            z-index: 999;
        }
        &__item {
            font-size: 36px;
            font-weight: 800;
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            color: #FFF;
        }
    }
    .nav-hamburger {

    }
  }