@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    #hero {
        background-image: url('../public/bg-hero.png');
        height: 950px;
        background-repeat: no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    // Typewriter effect
    .tw {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        vertical-align: middle;
        text-align: center;
        align-items: center;
        height: 100%;

        &__wrapper {
            display: flex;
            flex-direction: column;

        }

        &__kc {
            font-size: 72px;
            letter-spacing: 13.5px;
            color: #fff;
            font-weight: 800;
        }

        &__programmer {
            margin-top: 1rem;
            color: #fff;
            font-size: 24px;
            overflow: hidden;
            /* Ensures the content is not revealed until the animation */
            // border-right: .15em solid orange; /* The typwriter cursor */
            white-space: nowrap;
            /* Keeps the content on a single line */
            // margin: 0 auto; /* Gives that scrolling effect as the typing happens */
            letter-spacing: .15em;
            /* Adjust as needed */
            animation:
                typing 1.5s steps(30, end),
                blink-caret .5s step-end infinite;
        }

        &__producer {
            color: #fff;
            font-size: 48px;
            overflow: hidden;
            /* Ensures the content is not revealed until the animation */
            // border-right: .15em solid orange; /* The typwriter cursor */
            white-space: nowrap;
            /* Keeps the content on a single line */
            letter-spacing: .15em;
            /* Adjust as needed */
            -webkit-animation-delay: 2s;
            animation-delay: 2s;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
            animation:
                typing 3.5s steps(30, end),
                blink-caret .5s step-end infinite;
        }
    }

    /* The typing effect */
    @keyframes typing {
        from {
            width: 0
        }

        to {
            width: 100%
        }
    }

    /* The typewriter cursor effect */
    @keyframes blink-caret {

        from,
        to {
            border-color: transparent
        }

        50% {
            border-color: orange
        }
    }

    .hero {
        &__container {
            margin: auto;

            @media only screen and (max-width: 1600px) {
                max-width: 1200px;
            }

            @media only screen and (max-width: 1280px) {
                max-width: 1100px;
            }

            @media only screen and (max-width: 1024px) {
                max-width: 900px;
            }

            @media only screen and (max-width: 768px) {
                max-width: 670px;
            }

            @media only screen and (max-width: 578px) {
                max-width: 425px;
            }

            @media only screen and (max-width: 425px) {
                max-width: 100%;
            }
        }
    }

    #bio {
        background-image: url('../public/bg-hero.png');
        height: 950px;
        background-repeat: no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .bio {
        background-color: #090B0A;

        &__wrapper {
            display: flex;
            flex-direction: column;
            color: #FFF;
            margin-left: 3rem;
            padding-top: 5rem;

            >h2 {
                font-size: 40px;
                font-weight: 800;
                margin-bottom: 2rem;
            }

            > p {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
        }
    }

    .nav {
        display: none;


        @media only screen and (min-width: 425px) {
            display: flex;
            justify-content: flex-end;
            position: absolute;
            flex-direction: column;
            bottom: 90px;
            left: 26px;
        }

        &__item {
            font-size: 20px;
            font-weight: 800;
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            margin-bottom: 1rem;
            color: #FFF;
        }
    }

    .nav-hamburger {}

    .bg-footer {
        background-image: url('../public/bg-hero.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .footer {
        font-size: 24px;
        color: #FFF;
        font-weight: 800;
        display: flex;
        justify-content: center;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}