@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .nav {
        display: flex;
    }

    .nav__item {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    /* ... */
  }